/*body:hover{
    background-image:url(/static/images/crimme.png) ;
    background-size: cover;
}
*/

#navbarToggleExternalContent{
    color:aquamarine
}
.box-comp {
    border-radius: 1rem;
    margin-top: 5rem; 
    margin-bottom: 2rem; 
    padding: 10px 20px ; 
    color:black;
    background-color: #e7ebee00;
    
  }

  
  #panel-figs1 {
    background-color: #3b524700;
    height: 90%;
    width:80%; 
    margin-left: 1.5rem; 
    border-radius:10px;
    box-shadow: 5px 10px 8px 10px #888888;
  }
  
  #panel-figs2 {
    background-color: #1b3fa300;
    height: 90%;
    width:80%; 
    margin-left: 1.5rem;
    border-radius:10px;
    box-shadow: 5px 10px 8px 10px #888888;
  }
  
  #panel-figs3 {
    background-color: #4d3b5200;
    height: 90%;
    width:80%; 
    margin-left: 1.5rem;
    border-radius:10px;
    box-shadow: 5px 10px 8px 10px #888888;
  }
  
  #panel-figs4 {
    background-color: #9aa31b00;
    height: 90%;
    width:80%; 
    margin-left: 1.5rem;
    border-radius:10px;
    box-shadow: 5px 10px 8px 10px #888888;
    
  }

  /* footer */

#footer{
    margin-top: 2.5rem 1rem;
    text-align: center;
    color: #898c8e;
  }
  .social-icon {
    color: #898c8e;
    border-color: black;
    margin:0 .5rem; 
  }
  
  .social-icon:hover,#footer:hover,#nav-brand:hover,#nav-text:hover,.t-Data:hover {
    color: #FDCEB9;
  }
  

  
  #f_cap{
    font-family: "Ubuntu"; 
    color:#898c8e ;
    font-size: .85rem;
  }
  
  .info{
    margin:5px;
    margin-top: 2rem;

}

.well{
    box-shadow: 0 8px 16px -6px rgb(10, 10, 10);
    padding: 10px;
    border-radius:7px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(255, 255, 255);
}
.panel-primary{
    margin-top: .5rem;
    margin-bottom: 1rem;
    background-color: rgb(175, 62, 62);
    border-radius:7px;
}

.panel-heading{
    box-shadow: 0 8px 16px -6px rgb(8, 8, 8);
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding:10px;
    display:flex;
    background-color: rgb(255, 255, 255);
    
}

.panel-primary .panel-body{
    box-shadow: 0 8px 16px -6px rgb(8, 8, 8);
    padding: 10px;
    font: size 1rem;
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    background-color: rgb(255, 255, 255);
    
}

.panel-body{
    font-size: .8rem;
}
#one{
  margin: 2rem;
  background-color: #0f66a8;
}
#row1{
    margin-bottom: .2rem;
    box-shadow: 0 8px 16px -6px rgb(7, 7, 7);
    width: 100%;
    border-radius:7px;
    background-color: rgb(255, 255, 255);
}

#row1col2{
  
  margin-bottom: .2rem;
    box-shadow: 0 8px 16px -6px rgb(7, 7, 7);
    width: 90%;
    border-radius:7px;
    background-color: rgb(255, 255, 255);
}
#row1col3{
  margin-bottom: .2rem;
    box-shadow: 0 8px 16px -6px rgb(7, 7, 7);
    width: 90%;
    border-radius:7px;
    background-color: rgb(255, 255, 255);
}

#row2{
    margin-bottom: 1rem;
    box-shadow: 0 8px 16px -6px rgb(8, 8, 8);
    border-radius:7px;
    background-color: rgb(255, 255, 255);
}




