* {
  font-family: sans-serif;
}

#wrapper {
  height: 1000px;
  width: 1200px;
  margin: 5rem auto;
  padding: 0;
  overflow: visible;
}

#atlanta {
  float: left;
  height: 700px;
  width: 700px;
  margin-top: 5rem;
}

#info {
  float: left;
  width: 270px;
  padding-left: 20px;
  margin: 100px 0 0;
  border-left: 1px solid silver;
}

#info h2 {
  display: inline;
  font-size: 20pt;
}

#info .f32 .flag {
  vertical-align: bottom !important;
}

#info h4 {
  margin: 1em 0 0;
}

@media screen and (max-width: 920px) {
  #wrapper,
  #container,
  #info {
    float: none;
    width: 100%;
    height: auto;
    margin: 0.5em 0;
    padding: 0;
    border: none;
  }
}