.well{
  box-shadow: 0 8px 16px -6px rgb(10, 10, 10);
  padding: 10px;
  border-radius:7px;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(252, 253, 252);
}

.info{
  margin:15px;
  margin-top: 2rem;
}

.panel-heading{
  box-shadow: 0 8px 16px -6px rgb(8, 8, 8);
  
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  padding:10px;
  display:flex;
  background-color: rgb(255, 255, 255);
  
}

.panel-primary .panel-body{
  box-shadow: 0 8px 16px -6px rgb(8, 8, 8);
  padding: 10px;
  font: size 1rem;
  
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
  background-color: rgb(255, 255, 255); 
}

.panel-primary{
  margin-top: .5rem;
  margin-bottom: 1rem;
  background-color: rgb(175, 62, 62);
  border-radius:7px;
}

.container-fluid{
  width: 60%;
}

